@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.15em;
}

section{
    background:url(assets/bg-main-mobile.png) no-repeat ;
    background-size: cover;
    height:26.5vh;
    width:100vw;
    position: relative;
}   

.imgCard {
    height:8em;
    width:15em;
    background-size:cover;
    border-radius: 0.25em;
}

.CardBack{
    background-image:url(assets/bg-card-back.png);
    background-repeat: no-repeat;
    position: absolute;
    top:15%;
    right: 7%;
}   

.CardFront{
    background-image: url(assets/bg-card-front.png);
    background-repeat: no-repeat;
    position:absolute;
    z-index: 1;
    bottom: -20%;
    left: 7%;

}

main{
   
    height: 70vh;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.input{
    padding: 0.85em;
    border:1px solid #ccc;
    border-radius: 0.65em;
    outline-width: 1px;
    outline-color: #652ec7;
}
.input::placeholder{
    color:#cecdce;
    font-size: 1.25em;
    letter-spacing: 0.15ch;
}

label{
    margin-bottom: 0.25em;
}
.divFields{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.divDataCVV{
    width:85%;
    display: flex;
}
.divData{
    display: inline-block;
    width:45%;
}

.divInputsData{
    display: flex;
    justify-content: space-between;
    margin-top:0.25em;
}

.inputData{
    width: 25%;
}
.labelData {
    height: 2em;
}
.divCVV{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}
.divCVV label {
    height: 2em;
}

.inputCVV{
    width: 50%;
}

/*Erro*/
.erro{
    width: 85%;
    color: red;
    font-size: 0.85em;
    padding: 1em 0;
    visibility: hidden;
}
.visible {
  visibility: visible;
}
.borderError{
    border: 1px solid red;
}

.button{
    padding:0.5em;
    background:#220930;
    color:#f9eafc;
    font-size: 1.15em;
    font-weight: 500;
    border: none;
    border-radius: 0.25em;
    width: 80%;
    
}