@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.15em;
}

section{
    background:url(assets/bg-main-mobile.png) no-repeat ;
    background-size: cover;
    height:26.5vh;
    width:100vw;
    position: relative;
}   

.imgCard {
    height:8em;
    width:15em;
    background-size:cover;
    border-radius: 0.25em;
}

.CardBack{
    background-image:url(assets/bg-card-back.png);
    background-repeat: no-repeat;
    position: absolute;
    top:15%;
    right: 7%;
}   

.CardFront{
    background-image: url(assets/bg-card-front.png);
    background-repeat: no-repeat;
    position:absolute;
    z-index: 1;
    bottom: -20%;
    left: 7%;

}

main{
   
    height: 70vh;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
label.label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 2.5em;
    margin-bottom: 1em;
}

.input{
    padding: 1em;
    border:1px solid #ccc;
    border-radius: 0.65em;
}
.input::placeholder{
    color:#cecdce;
    font-size: 1.25em;
    letter-spacing: 0.15ch;
}

.divDataCVV{
    width:85%;
}
.divData{
    display: inline-block;
    width:50%;
}
.inputData{
    width: 25%;
}


.button{
    padding:0.5em;
    background:#220930;
    color:#f9eafc;
    font-size: 1.15em;
    font-weight: 500;
    border: none;
    border-radius: 0.25em;
    width: 80%;
    
}